:root {
    --main-bg: #040404;
    --nav-bg: #040404;
    --nav-item-active: rgb(59, 72, 109, 0.56);
    --main-text-color: #f1f1f1;
    --menu-active: #3B486D;
    --inactive-color: #858688;
    --play-btn-color: #0C0C0C;
    --more-info-btn-bg: transparent linear-gradient(128deg, #2727F5 0%, #001671 100%) 0% 0% ;
}
